http://data.eastmoney.com/notices/getdata.ashx?StockCode=&FirstNodeType=0&CodeType=1&PageIndex=2&PageSize=50&jsObj=bOPDKdug&SecNodeType=0&Time=&rt=52544429


{
"data":[
{
"NOTICEDATE":"2019-12-14T00:00:00+08:00",
"ATTACHTYPE":"0",
"ATTACHSIZE":164,
"ENDDATE":"2019-12-14T00:00:00+08:00",
"NOTICETITLE":"600734:实达集团第九届董事会第四十二次会议决议公告",
"INFOCODE":"AN201912131371844194",
"CDSY_SECUCODES":[
{
"SECURITYVARIETYCODE":"1000002140",
"SECURITYTYPECODE":"058001001",
"SECURITYCODE":"600734",
"SECURITYFULLNAME":"实达集团",
"SECURITYSHORTNAME":"实达集团",
"SECURITYTYPE":"A股",
"TRADEMARKETCODE":"069001001001",
"TRADEMARKET":"上交所主板",
"LISTINGSTATE":"0",
"COMPANYCODE":"10000541",
"Eid":0
}
],
"ANN_RELCOLUMNS":[
{
"COLUMNCODE":"001002009",
"COLUMNNAME":"董事会决议公告",
"NodeName":null,
"Eid":0,
"Order":999
}
],
"ANN_RELCODES":[
{
"CODETYPE":"058001001",
"CODEMARKET":"069001001001",
"SECURITYCODE":"600734",
"COMPANYCODE":null,
"Eid":0
}
],
"EUTIME":"2019-12-13T23:59:22+08:00",
"TABLEID":207000007274914031,
"Order":999,
"Url":"http://data.eastmoney.com/notices/detail/600734/AN201912131371844194,JWU1JWFlJTllJWU4JWJlJWJlJWU5JTliJTg2JWU1JTliJWEy.html"
},
Object{...}
],
"TotalCount":329711,
"pages":1000,
"rc":1,
"me":null,
"dataUrl":"http://newsnotice.eastmoney.com/webapi/api/Notice?Time=&CodeType=1&StockCode=&FirstNodeType=0&SecNodeType=0&PageIndex=2&PageSize=2&Token=WZSJPD161130"
}