<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>${HOSTNAME}</contextName>

    <Property name="LOG_PROJECT" value="supper-stock" />
    <Property name="LOG_BASE_PATH" value="/tmp/logs/${LOG_PROJECT}" />
    <Property name="DEFAULT_PATTERN" value="%d{ISO8601}$$[%thread]$$[%logger]$$[%p]$$[%L]$$[%msg]%n" />
    <Property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
    <Property name="MAX_HISTORY" value="30" />
    <Property name="ENCODE" value="UTF-8" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${CONSOLE_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE_STDOUT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE_PATH}/${HOSTNAME}-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${DEFAULT_PATTERN}
            </Pattern>
        </encoder>

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE_PATH}/stdout_${HOSTNAME}.%i.log.%d{yyyy-MM-dd}-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10000MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->

    </appender>

    <appender name="FILE_STDERR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE_PATH}/${HOSTNAME}-error-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${DEFAULT_PATTERN}
            </Pattern>
        </encoder>

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE_PATH}/stderr_${HOSTNAME}.%i.log.%d{yyyy-MM-dd}-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10000MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->

    </appender>

    <!-- print sql -->
    <!-- additivity="false" avoid duplicate log-->
    <logger name="com.pers.yefei.supper.stock.model.gen.*" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_STDOUT" />
    </root>


</configuration>