<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="/Users/yefei/.m2/repository/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar"/>
    <!--<classPathEntry location="/Users/longlive/Documents/maven/repository/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar"/>-->

    <context id="context" targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="utf-8"></property>

        <!--<plugin type="com.qiukeke.mybatis.plugins.MySQLLimitPlugin"></plugin>-->
        <plugin type="com.xxg.mybatis.plugins.MySQLLimitPlugin"></plugin>

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://172.16.32.243:3306/db_supper_stock" userId="root" password="root"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <!-- 生成模型的包名和位置-->
        <javaModelGenerator targetPackage="com.pers.yefei.supper.stock.model.gen.pojo" targetProject="src/main/java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations !!!! -->
        <!-- 生成映射文件的包名和位置-->
        <sqlMapGenerator targetPackage="com.pers.yefei.supper.stock.model.gen.mapper" targetProject="src/main/java">
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <!-- 生成DAO的包名和位置-->
        <javaClientGenerator targetPackage="com.pers.yefei.supper.stock.model.gen.dao" targetProject="src/main/java" type="XMLMAPPER">
        </javaClientGenerator>


        <!-- !!!! Table Configurations !!!! -->
        <table tableName="tbl_stock_info"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="tbl_stock_score"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>


        <table tableName="tbl_stock_score_change"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="tbl_stock_trans"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="tbl_holidays"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>


        <table tableName="tbl_stock_public_notice"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="tbl_stock_public_notice_observer"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="tbl_push_config"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableUpdateByPrimaryKey="true">
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>



    </context>
</generatorConfiguration>